@model Inspinia_MVC5.Models.LocalPasswordModel
@{
    ViewBag.Title = "ForceChangePassword";
}
<h2>Please Change Password</h2>
<p>You're logged in as <strong>@User.Identity.Name</strong>.</p>
@using (Html.BeginForm("ForceChangePassword", "Account"))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>
        <legend>Change Password Form</legend>
        <ol>
            <li>
                @Html.LabelFor(model => model.OldPassword)
                @Html.PasswordFor(model => model.OldPassword)
            </li>
            <li>
                @Html.LabelFor(model => model.NewPassword)
                @Html.PasswordFor(model => model.NewPassword)
            </li>
            <li>
                @Html.LabelFor(model => model.ConfirmPassword)
                @Html.PasswordFor(model => model.ConfirmPassword)
            </li>
        </ol>
        <input type="submit" value="Change password" />
    </fieldset>
}